$Background: #fffffe !default;
$Headline: #272343 !default;
$Paragraph: #2d334a !default;
$Button: #ffd803 !default;
$ButtonText: #272343 !default;
$Secondary: #e3f6f5 !default;
$Tertiary: #bae8e8 !default;
